<!DOCTYPE html>

<nav class="navbar">
  <div class="logo">
    <a routerLink="/">StreetCats</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/submit">Segnala</a></li>
    
    <!-- area autenticazione -->
    <ng-container *ngIf="auth.isLoggedIn(); else guestLinks">
      <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
    </ng-container>

    <!-- link per gli ospiti -->
    <ng-template #guestLinks>
      <li>
        <a href="javascript:void(0)" (click)="openAuthModal()">
          Login / Registrati
        </a>
      </li>
    </ng-template>
  </ul>
</nav>

<!-- Modal di autenticazione -->
<app-auth-modal #authModal></app-auth-modal>
